
<div class="booyah-box col-xs-10 col-xs-offset-1">
	<h1><%= @tournament.name %></h1>
	<h2><%= @tournament.address %></h2>
	<br/><br/>
	<h3><p><%= @tournament.description %></p></h3>
	<br />
	<center>
	<%= button_to "Register", {:controller => :tournaments, :action => 'register'}, :method => :post %>
	<% if flash[:error].present? %>
		<div class="col-xs-10 col-xs-offset-1 alert alert-danger">
			<%= flash[:error] %>
		</div>
	<% end %>
	</center>
	
	

</div>

<div class="booyah-box col-xs-10 col-xs-offset-1">
	<h1>Players</h1>
	<center>
	<% @tournament.users.each do |x| %>
		<%= x.email %>
		<br />
	<% end %>
	</center>

</div>


<div class="booyah-box col-xs-10 col-xs-offset-1">
	<h1>Bracket</h1>
</div>


