
<div class="booyah-box col-xs-10 col-xs-offset-1">
	<h1><%= @tournament.name %></h1>
	<h2><%= @tournament.address %></h2>
	<br/><br/>
	<h3><p><%= @tournament.description %></p></h3>
	<br />
	<center>
	<%= button_to "Register", {:controller => :tournaments, :action => 'register'}, :method => :post %>
	<%= button_to "Start", {:controller => :tournaments, :action => 'start'}, :method => :post %>
	<% if flash[:error].present? %>
		<div class="col-xs-10 col-xs-offset-1 alert alert-danger">
			<%= flash[:error] %>
		</div>
	<% end %>
	</center>
	
	

</div>

<div class="booyah-box col-xs-10 col-xs-offset-1">
	<h1>Players</h1>
	<center>
	<% @tournament.users.each do |x| %>
		<%= x.email %>
		<br />
	<% end %>
	</center>

</div>


<div class="booyah-box col-xs-10 col-xs-offset-1">
	<h1>Matches</h1>
		<main id="tournament">
		<% x = 1 %>
		<% current_round = @y %>
		<% (@total_rounds + 1).times do %>
			<ul>
			<li>&nbsp;</li>
				<% @ordered_matches.where(round: @test).each do |match| %>
					<% if match.round == @test %>
						<% if match.player1_id == nil and match.player2_id == nil %>
							<li class="game game-top">	<%= "" %> </li>
							<li> &nbsp; </li>
							<li class="game game-bottom "><%= "" %> </li>
						<% elsif match.player1_id != nil and match.player2_id == nil %>
							<li class="game game-top">	<%= "#{User.find(TournamentUser.find(match.player1_id.to_i).user_id).email}" + "#{match.number}" %> </li>
							<li> &nbsp; </li>
							<li class="game game-bottom "><%= "" %> </li>
						<% else %>
							<li class="game game-top">	<%= "#{User.find(TournamentUser.find(match.player1_id.to_i).user_id).email}" + "#{match.number}" %> </li>
							<li> &nbsp; </li>
							<li class="game game-bottom "><%= "#{User.find(TournamentUser.find(match.player2_id.to_i).user_id).email}" + "#{match.number}" %> </li>
						<% end %>
						<li> &nbsp; </li>
					<% end %>
				<% end %>
			</ul>
			<% x += 1 %>
			<% @test -= 1 %>
		<% end %>
		
	
	
	</main>
</div>


