
<div class="booyah-box col-xs-10 col-xs-offset-1">
	<h1><%= @tournament.name %></h1>
	<h2><%= @tournament.address %></h2>
	<br/><br/>
	<h3><p><%= @tournament.description %></p></h3>
	<br />
	<center>
	<%= button_to "Register", {:controller => :tournaments, :action => 'register'}, :method => :post %>
	<%= button_to "Start", {:controller => :tournaments, :action => 'start'}, :method => :post %>
	<% if flash[:error].present? %>
		<div class="col-xs-10 col-xs-offset-1 alert alert-danger">
			<%= flash[:error] %>
		</div>
	<% end %>
	</center>
	
	

</div>

<div class="booyah-box col-xs-10 col-xs-offset-1">
	<h1>Players</h1>
	<center>
	<% @tournament.users.each do |x| %>
		<%= x.email %>
		<br />
	<% end %>
	</center>

</div>


<div class="booyah-box col-xs-10 col-xs-offset-1">
	<h1>Matches</h1>
		<main id="tournament">
		<ul class="round round-1">
			<% @round2.each do |match| %>
				<li class="spacer">&nbsp;</li>
				<% current_round = 2 %>
				<% if current_round == match.round.to_i %>
					<% if match.player1_id == nil and match.player2_id == nil %>
						<%= "empty" + "#{match.number}" %>
						<br/>
						<%= "empty" + "#{match.number}" %>
					<% elsif match.player2_id == nil %>
						<%= "Bye" + "#{match.number}" %>
					<% else %>
						<li class="game game-top">	<%= "#{User.find(TournamentUser.find(match.player1_id.to_i).user_id).email}" + "#{match.number}" %> </li>
						<li class="game game-spacer">&nbsp;</li>
						<li class="game game-bottom "><%= "#{User.find(TournamentUser.find(match.player2_id.to_i).user_id).email}" + "#{match.number}" %> </li>
					<% end %>
				<% end %>
			<% end %>
		</ul>
		<ul class="round round-2">
			<% @round1.each do |match| %>
					<% current_round = 1 %>
					<li class="spacer">&nbsp;</li>
					<% if current_round == match.round.to_i %>
						<% if match.player1_id == nil and match.player2_id == nil %>
							<li class="game game-top">	<%= "empty" + "#{match.number}" %> </li>
							<li class="game game-spacer">&nbsp;</li>
							<li class="game game-bottom "><%= "empty" + "#{match.number}" %> </li>
						<% elsif match.player2_id == nil %>
							<%= "Bye" + "#{match.number}" %>
						<% else %>
							<li class="game game-top">	<%= "#{User.find(TournamentUser.find(match.player1_id.to_i).user_id).email}" + "#{match.number}" %> </li>
							<li class="game game-spacer">&nbsp;</li>
							<li class="game game-bottom "><%= "#{User.find(TournamentUser.find(match.player2_id.to_i).user_id).email}" + "#{match.number}" %> </li>
						<% end %>
					<% end %>
				<% end %>
				<li class="spacer">&nbsp;</li>
		</ul>
	
	</main>
</div>


