
<div class="booyah-box col-xs-10 col-xs-offset-1">
	<h1><%= @tournament.name %></h1>
	<h2><%= @tournament.address %></h2>
	<br/><br/>
	<h3><p><%= @tournament.description %></p></h3>
	<br />
	<center>
	<%= button_to "Register", {:controller => :tournaments, :action => 'register'}, :method => :post %>
	<%= button_to "Start", {:controller => :tournaments, :action => 'start'}, :method => :post %>
	<% if flash[:error].present? %>
		<div class="col-xs-10 col-xs-offset-1 alert alert-danger">
			<%= flash[:error] %>
		</div>
	<% end %>
	</center>
	
	

</div>

<div class="booyah-box col-xs-10 col-xs-offset-1">
	<h1>Players</h1>
	<center>
	<% @tournament.users.each do |x| %>
		<%= x.email %>
		<br />
	<% end %>
	</center>

</div>


<div class="booyah-box col-xs-10 col-xs-offset-1">
	<h1>Matches</h1>
		<div class="container">
			<table class = "table" >
				<thead>
					<tr>
						<% x = 0 %>
						<% if @rounds != nil %>
							<% (@rounds + 1).times do %>
								<th>Round </th>
								<% x += 1 %>
							<% end %>
						<% end %>
						
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>
							<% @round3.each do |match| %>
								<% puts match.inspect %>
								<% current_round = 3 %>
								<% puts match.round.to_i %>
								<% if current_round == match.round.to_i %>
									<br />
									<% if match.player1_id == nil and match.player2_id == nil %>
										<%= "empty" + "#{match.number}" %>
										<br/>
										<%= "empty" + "#{match.number}" %>
									<% elsif match.player2_id == nil %>
										<%= "Bye" + "#{match.number}" %>
									<% else %>
										<%= "#{User.find(TournamentUser.find(match.player1_id.to_i).user_id).email}" + "#{match.number}" %>
										<br />
										<%= "#{User.find(TournamentUser.find(match.player2_id.to_i).user_id).email}" + "#{match.number}" %>
									<% end %>
								<% end %>
							<% end %>
						</td>
						<td>
							<br />
							<br />
							<br />
							<% @round2.each do |match| %>
								<% puts match.inspect %>
								<% current_round = 2 %>
								<% puts match.round.to_i %>
								<% if current_round == match.round.to_i %>
									<br />
									<% if match.player1_id == nil and match.player2_id == nil %>
										<%= "" %>
										<br/>
										<%= "" %>
									<% elsif match.player2_id == nil %>
										<%= "#{User.find(TournamentUser.find(match.player1_id.to_i).user_id).email}" + "#{match.number}" %>
										<br />
										<%= "Bye" %>
									<% else %>
										<%= "#{User.find(TournamentUser.find(match.player1_id.to_i).user_id).email}" + "#{match.number}" %>
										<br />
										<%= "#{User.find(TournamentUser.find(match.player2_id.to_i).user_id).email}" + "#{match.number}" %>
									<% end %>
								<% end %>
							<% end %>
						</td>
						<td>
							<br />
							<br />
							<br />
							<br />
							<br />
							<% @round1.each do |match| %>
								<% current_round = 1 %>
								<% puts match.round.to_i %>
								<% if current_round == match.round.to_i %>
									<br />
									<% if match.player1_id == nil and match.player1_id == nil %>
										<%= "empty" + "#{match.number}" %>
										<br/>
										<%= "empty" + "#{match.number}"%>
									<% elsif match.player2_id == nil %>
										<%= "#{User.find(TournamentUser.find(match.player1_id.to_i).user_id).email}" + "#{match.number}" %>
										<br />
										<%= "test" %>
									<% else %>
										<%= "#{User.find(TournamentUser.find(match.player1_id.to_i).user_id).email}" + "#{match.number}"%>
										<br />
										<%= "#{User.find(TournamentUser.find(match.player2_id.to_i).user_id).email}" + "#{match.number}" %>
									<% end %>
								<% end %>
							<% end %>
						</td>
						<td>
						<br />
						<br />
						<br />
						<br />
						<br />
						<br />
						<br />
							<% @matches.each do |match| %>
								<% current_round = 0 %>
								<% if current_round == match.round.to_i %>
									<% if match.player1_id != nil %>
										<%= "#{User.find(TournamentUser.find(match.player1_id.to_i).user_id).email}" + "#{match.number}" %>
										<br />
									<% elsif match.player1_id == nil %>
										<%= "empty" + "#{match.number}" %>
										<br />
									<% end %>
									<% if match.player2_id == nil %>
										<%= "empty" + "#{match.number}" %>
									<% else %>
										<%= "#{User.find(TournamentUser.find(match.player2_id.to_i).user_id).email}" + "#{match.number}"  %>
									<% end %>
									<hr />
								<% end %>
							<% end %>
						</td>
						<td></td>
						<td></td>
					</tr>
				</tbody>
	</center>
</div>


